body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:185px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:185px;
  font-size:18px;
  color:#FFFFFF;
}
#u503 {
  position:absolute;
  left:2px;
  top:84px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u505 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u508 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u509 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  text-align:left;
}
.u513 {
  position:absolute;
  left:40px;
  top:14px;
  width:333px;
  word-wrap:break-word;
}
.u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
.u514 {
  position:absolute;
  left:7px;
  top:11px;
  width:24px;
  height:24px;
}
.u515 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
.u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
.u516 {
  position:absolute;
  left:356px;
  top:10px;
  width:10px;
  height:20px;
}
.u517 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
.u518 {
  position:absolute;
  left:142px;
  top:13px;
  width:204px;
  height:18px;
  color:#CCCCCC;
  text-align:right;
}
.u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u511-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u511-2 {
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:42px;
}
#u511-3 {
  position:absolute;
  left:0px;
  top:84px;
  width:375px;
  height:42px;
}
#u511-4 {
  position:absolute;
  left:0px;
  top:126px;
  width:375px;
  height:42px;
}
#u511-5 {
  position:absolute;
  left:0px;
  top:168px;
  width:375px;
  height:42px;
}
#u511-6 {
  position:absolute;
  left:0px;
  top:210px;
  width:375px;
  height:42px;
}
#u511-7 {
  position:absolute;
  left:0px;
  top:252px;
  width:375px;
  height:42px;
}
#u511-8 {
  position:absolute;
  left:0px;
  top:294px;
  width:375px;
  height:42px;
}
#u511-9 {
  position:absolute;
  left:0px;
  top:336px;
  width:375px;
  height:42px;
}
#u511-10 {
  position:absolute;
  left:0px;
  top:378px;
  width:375px;
  height:42px;
}
#u511 {
  position:absolute;
  left:0px;
  top:205px;
  width:375px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u520 {
  position:absolute;
  left:140px;
  top:70px;
  width:96px;
  height:96px;
  font-size:12px;
}
#u521 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u522 {
  position:absolute;
  left:144px;
  top:74px;
  width:88px;
  height:88px;
  font-size:12px;
}
#u523 {
  position:absolute;
  left:2px;
  top:30px;
  width:84px;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u524 {
  position:absolute;
  left:152px;
  top:172px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
