body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1231 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1232 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1233 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1236 {
  position:absolute;
  left:15px;
  top:225px;
  width:345px;
  height:69px;
  font-size:14px;
  color:#CCCCCC;
}
#u1237 {
  position:absolute;
  left:2px;
  top:17px;
  width:341px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1238 {
  position:absolute;
  left:30px;
  top:537px;
  width:345px;
  height:69px;
  color:#CCCCCC;
}
#u1239 {
  position:absolute;
  left:2px;
  top:27px;
  width:341px;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1240 {
  position:absolute;
  left:68px;
  top:561px;
  width:22px;
  height:22px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:30px;
  top:537px;
  width:313px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1243 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:454px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1244 {
  position:absolute;
  left:375px;
  top:245px;
  width:200px;
  height:1px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:113px;
}
#u1246 {
  position:absolute;
  left:575px;
  top:231px;
  width:220px;
  height:113px;
  font-family:'微软雅黑';
  font-style:normal;
}
#u1247 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1248 {
  position:absolute;
  left:375px;
  top:562px;
  width:200px;
  height:1px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:46px;
}
#u1250 {
  position:absolute;
  left:575px;
  top:548px;
  width:220px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1251 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
