body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1804 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1805 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1806 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1810 {
  position:absolute;
  left:65px;
  top:338px;
  width:270px;
  height:34px;
}
#u1810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1811 {
  position:absolute;
  left:65px;
  top:371px;
  width:270px;
  height:1px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1813 {
  position:absolute;
  left:35px;
  top:348px;
  width:20px;
  height:19px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:145px;
}
#u1815 {
  position:absolute;
  left:132px;
  top:95px;
  width:103px;
  height:144px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:57px;
  width:99px;
  word-wrap:break-word;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1817 {
  position:absolute;
  left:119px;
  top:249px;
  width:128px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u1818 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1819 {
  position:absolute;
  left:374px;
  top:170px;
  width:200px;
  height:1px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:130px;
}
#u1821 {
  position:absolute;
  left:574px;
  top:156px;
  width:251px;
  height:130px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1822 {
  position:absolute;
  left:10px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u1823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1824 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u1826 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1828 {
  position:absolute;
  left:142px;
  top:412px;
  width:59px;
  height:18px;
  color:#999999;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1830 {
  position:absolute;
  left:211px;
  top:415px;
  width:14px;
  height:10px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1833 {
  position:absolute;
  left:65px;
  top:443px;
  width:270px;
  height:34px;
}
#u1833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1834 {
  position:absolute;
  left:65px;
  top:494px;
  width:270px;
  height:34px;
}
#u1834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1835 {
  position:absolute;
  left:65px;
  top:528px;
  width:270px;
  height:1px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1837 {
  position:absolute;
  left:65px;
  top:477px;
  width:270px;
  height:1px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1839 {
  position:absolute;
  left:374px;
  top:412px;
  width:200px;
  height:1px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:46px;
}
#u1841 {
  position:absolute;
  left:574px;
  top:398px;
  width:251px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1842 {
  position:absolute;
  left:10px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
