body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u814 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u815 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u816 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u817 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u818 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:106px;
}
#u820 {
  position:absolute;
  left:25px;
  top:73px;
  width:75px;
  height:105px;
}
#u821 {
  position:absolute;
  left:2px;
  top:38px;
  width:71px;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u822 {
  position:absolute;
  left:124px;
  top:82px;
  width:225px;
  height:24px;
  text-align:left;
}
#u823 {
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u824 {
  position:absolute;
  left:124px;
  top:116px;
  width:225px;
  height:24px;
  text-align:left;
}
#u825 {
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u826 {
  position:absolute;
  left:118px;
  top:150px;
  width:79px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u827 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u828 {
  position:absolute;
  left:14px;
  top:256px;
  width:198px;
  height:29px;
  text-align:left;
}
#u829 {
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:11px;
  top:227px;
  width:114px;
  height:29px;
}
#u831 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:28px;
  top:525px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u833 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:28px;
  top:525px;
  width:321px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u835 {
  position:absolute;
  left:15px;
  top:400px;
  width:320px;
  height:69px;
  color:#CCCCCC;
}
#u836 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
