body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:559px;
  width:375px;
  height:41px;
  font-size:20px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1211 {
  position:absolute;
  left:61px;
  top:445px;
  width:254px;
  height:39px;
  color:#CCCCCC;
}
#u1212 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1217 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:201px;
}
#u1222 {
  position:absolute;
  left:87px;
  top:111px;
  width:201px;
  height:201px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:86px;
  width:197px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1224 {
  position:absolute;
  left:148px;
  top:335px;
  width:79px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1226 {
  position:absolute;
  left:344px;
  top:30px;
  width:24px;
  height:24px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u1229 {
  position:absolute;
  left:35px;
  top:509px;
  width:24px;
  height:19px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1231 {
  position:absolute;
  left:69px;
  top:511px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1234 {
  position:absolute;
  left:149px;
  top:505px;
  width:28px;
  height:25px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1236 {
  position:absolute;
  left:187px;
  top:510px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1239 {
  position:absolute;
  left:305px;
  top:511px;
  width:36px;
  height:16px;
  font-size:13px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:31px;
}
#u1241 {
  position:absolute;
  left:268px;
  top:499px;
  width:24px;
  height:31px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u1243 {
  position:absolute;
  left:22px;
  top:613px;
  width:28px;
  height:31px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1246 {
  position:absolute;
  left:248px;
  top:612px;
  width:36px;
  height:36px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1248 {
  position:absolute;
  left:91px;
  top:612px;
  width:36px;
  height:36px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1250 {
  position:absolute;
  left:162px;
  top:604px;
  width:50px;
  height:50px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
}
#u1252 {
  position:absolute;
  left:315px;
  top:616px;
  width:39px;
  height:26px;
  color:#CCCCCC;
}
#u1253 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254 {
  position:absolute;
  left:329px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1255 {
  position:absolute;
  left:305px;
  top:604px;
  width:57px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1256 {
  position:absolute;
  left:144px;
  top:409px;
  width:28px;
  height:28px;
  font-size:10px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u1258 {
  position:absolute;
  left:142px;
  top:393px;
  width:33px;
  height:22px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1260 {
  position:absolute;
  left:190px;
  top:416px;
  width:44px;
  height:18px;
  color:#1E1E1E;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  position:absolute;
  left:47px;
  top:228px;
  width:270px;
  height:179px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u1267 {
  position:absolute;
  left:118px;
  top:243px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:38px;
}
#u1269 {
  position:absolute;
  left:61px;
  top:306px;
  width:243px;
  height:38px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1271 {
  position:absolute;
  left:182px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1272 {
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1273 {
  position:absolute;
  left:47px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1274 {
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1275 {
  position:absolute;
  left:47px;
  top:361px;
  width:270px;
  height:1px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u1277 {
  position:absolute;
  left:182px;
  top:361px;
  width:1px;
  height:46px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
