body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:559px;
  width:375px;
  height:41px;
  font-size:20px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1305 {
  position:absolute;
  left:61px;
  top:445px;
  width:254px;
  height:39px;
  color:#CCCCCC;
}
#u1306 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1309 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1310 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1311 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:201px;
}
#u1316 {
  position:absolute;
  left:87px;
  top:111px;
  width:201px;
  height:201px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:86px;
  width:197px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1318 {
  position:absolute;
  left:148px;
  top:335px;
  width:79px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u1319 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1320 {
  position:absolute;
  left:344px;
  top:30px;
  width:24px;
  height:24px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u1323 {
  position:absolute;
  left:35px;
  top:509px;
  width:24px;
  height:19px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1325 {
  position:absolute;
  left:69px;
  top:511px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1328 {
  position:absolute;
  left:149px;
  top:505px;
  width:28px;
  height:25px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1330 {
  position:absolute;
  left:187px;
  top:510px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1333 {
  position:absolute;
  left:305px;
  top:511px;
  width:36px;
  height:16px;
  font-size:13px;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:31px;
}
#u1335 {
  position:absolute;
  left:268px;
  top:499px;
  width:24px;
  height:31px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u1337 {
  position:absolute;
  left:22px;
  top:613px;
  width:28px;
  height:31px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1340 {
  position:absolute;
  left:248px;
  top:612px;
  width:36px;
  height:36px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1342 {
  position:absolute;
  left:91px;
  top:612px;
  width:36px;
  height:36px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1344 {
  position:absolute;
  left:162px;
  top:604px;
  width:50px;
  height:50px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
}
#u1346 {
  position:absolute;
  left:315px;
  top:616px;
  width:39px;
  height:26px;
  color:#CCCCCC;
}
#u1347 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:329px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1349 {
  position:absolute;
  left:305px;
  top:604px;
  width:57px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1350 {
  position:absolute;
  left:144px;
  top:409px;
  width:28px;
  height:28px;
  font-size:10px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u1352 {
  position:absolute;
  left:142px;
  top:393px;
  width:33px;
  height:22px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u1354 {
  position:absolute;
  left:190px;
  top:416px;
  width:44px;
  height:18px;
  color:#1E1E1E;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:47px;
  top:228px;
  width:270px;
  height:179px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u1361 {
  position:absolute;
  left:118px;
  top:243px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:38px;
}
#u1363 {
  position:absolute;
  left:61px;
  top:306px;
  width:243px;
  height:38px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1365 {
  position:absolute;
  left:182px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1366 {
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1367 {
  position:absolute;
  left:47px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1368 {
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1369 {
  position:absolute;
  left:47px;
  top:361px;
  width:270px;
  height:1px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u1371 {
  position:absolute;
  left:182px;
  top:361px;
  width:1px;
  height:46px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
