body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:552px;
  overflow:hidden;
}
#u140_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:552px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u140_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:152px;
  top:41px;
  width:87px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u145 {
  position:absolute;
  left:123px;
  top:39px;
  width:24px;
  height:24px;
}
#u145_img.selected {
}
#u145.selected {
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
}
#u150 {
  position:absolute;
  left:143px;
  top:115px;
  width:98px;
  height:98px;
}
#u151 {
  position:absolute;
  left:2px;
  top:34px;
  width:94px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u152 {
  position:absolute;
  left:163px;
  top:223px;
  width:59px;
  height:16px;
  text-align:center;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u155 {
  position:absolute;
  left:135px;
  top:181px;
  width:32px;
  height:32px;
  font-size:10px;
}
#u156 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u157 {
  position:absolute;
  left:157px;
  top:69px;
  width:70px;
  height:66px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:2px;
  top:30px;
  width:66px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:152px;
  top:311px;
  width:87px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u163 {
  position:absolute;
  left:123px;
  top:311px;
  width:19px;
  height:18px;
}
#u164 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u167 {
  position:absolute;
  left:170px;
  top:493px;
  width:44px;
  height:16px;
  text-align:center;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u170 {
  position:absolute;
  left:142px;
  top:386px;
  width:100px;
  height:100px;
  font-size:10px;
}
#u171 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u172 {
  position:absolute;
  left:157px;
  top:339px;
  width:70px;
  height:66px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:2px;
  top:30px;
  width:66px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u177 {
  position:absolute;
  left:25px;
  top:149px;
  width:72px;
  height:72px;
}
#u178 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u179 {
  position:absolute;
  left:24px;
  top:228px;
  width:73px;
  height:13px;
  text-align:center;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u182 {
  position:absolute;
  left:19px;
  top:197px;
  width:23px;
  height:23px;
  font-size:9px;
}
#u183 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u184 {
  position:absolute;
  left:35px;
  top:115px;
  width:51px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u189 {
  position:absolute;
  left:281px;
  top:149px;
  width:72px;
  height:72px;
}
#u190 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u191 {
  position:absolute;
  left:295px;
  top:228px;
  width:44px;
  height:12px;
  text-align:center;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u194 {
  position:absolute;
  left:275px;
  top:197px;
  width:23px;
  height:23px;
  font-size:9px;
}
#u195 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u196 {
  position:absolute;
  left:291px;
  top:115px;
  width:51px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u197 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u200 {
  position:absolute;
  left:48px;
  top:493px;
  width:30px;
  height:11px;
  text-align:center;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u203 {
  position:absolute;
  left:27px;
  top:416px;
  width:72px;
  height:72px;
  font-size:10px;
}
#u204 {
  position:absolute;
  left:2px;
  top:23px;
  width:68px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u205 {
  position:absolute;
  left:38px;
  top:383px;
  width:51px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:2px;
  top:15px;
  width:47px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u209 {
  position:absolute;
  left:302px;
  top:493px;
  width:30px;
  height:11px;
  text-align:center;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u212 {
  position:absolute;
  left:281px;
  top:416px;
  width:72px;
  height:72px;
  font-size:10px;
}
#u213 {
  position:absolute;
  left:2px;
  top:23px;
  width:68px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u214 {
  position:absolute;
  left:292px;
  top:383px;
  width:51px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:8px;
  top:63px;
  width:360px;
  height:201px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u217 {
  position:absolute;
  left:8px;
  top:329px;
  width:360px;
  height:201px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u218 {
  position:absolute;
  left:378px;
  top:53px;
  width:200px;
  height:1px;
}
#u219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:96px;
}
#u220 {
  position:absolute;
  left:578px;
  top:39px;
  width:220px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u221 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u222 {
  position:absolute;
  left:378px;
  top:315px;
  width:200px;
  height:1px;
}
#u223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:62px;
}
#u224 {
  position:absolute;
  left:578px;
  top:301px;
  width:220px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u225 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u228 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u229 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u230 {
  position:absolute;
  left:10px;
  top:33px;
  width:24px;
  height:19px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u232 {
  position:absolute;
  left:346px;
  top:31px;
  width:22px;
  height:22px;
}
#u233 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u234 {
  position:absolute;
  left:229px;
  top:41px;
  width:11px;
  height:6px;
}
#u235 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u237 {
  position:absolute;
  left:290px;
  top:515px;
  width:67px;
  height:44px;
}
#u238 {
  position:absolute;
  left:2px;
  top:14px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u239 {
  position:absolute;
  left:303px;
  top:517px;
  width:40px;
  height:40px;
}
#u240 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:273px;
  top:516px;
  width:96px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:-1px;
  top:616px;
  width:375px;
  height:51px;
}
#u244 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u247 {
  position:absolute;
  left:-1px;
  top:617px;
  width:94px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u248 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u249 {
  position:absolute;
  left:33px;
  top:624px;
  width:24px;
  height:23px;
  font-size:11px;
}
#u250 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u252 {
  position:absolute;
  left:93px;
  top:617px;
  width:94px;
  height:50px;
  font-size:11px;
  color:#000000;
}
#u253 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u254 {
  position:absolute;
  left:128px;
  top:626px;
  width:24px;
  height:17px;
}
#u255 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u257 {
  position:absolute;
  left:187px;
  top:617px;
  width:94px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u258 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u259 {
  position:absolute;
  left:221px;
  top:626px;
  width:24px;
  height:24px;
}
#u260 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u262 {
  position:absolute;
  left:281px;
  top:617px;
  width:94px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u263 {
  position:absolute;
  left:2px;
  top:35px;
  width:90px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u264 {
  position:absolute;
  left:316px;
  top:624px;
  width:24px;
  height:23px;
}
#u265 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:-1px;
  top:617px;
  width:94px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
