body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1326 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1327 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1328 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:100px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:271px;
}
#u1333 {
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:271px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:128px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
