body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3447 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3448 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3449 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u3450 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u3451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3451 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u3452 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3453 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u3454 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:100px;
}
#u3455 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:271px;
}
#u3456 {
  position:absolute;
  left:0px;
  top:174px;
  width:375px;
  height:271px;
}
#u3457 {
  position:absolute;
  left:2px;
  top:128px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3458 {
  position:absolute;
  left:27px;
  top:472px;
  width:321px;
  height:154px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3459 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
