body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
.u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  font-size:18px;
  color:#FFFFFF;
}
.u643 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
.u644 {
  position:absolute;
  left:301px;
  top:54px;
  width:58px;
  height:20px;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
.u645 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
.u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
}
.u646 {
  position:absolute;
  left:309px;
  top:18px;
  width:39px;
  height:26px;
  color:#CCCCCC;
}
.u647 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
.u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u648 {
  position:absolute;
  left:158px;
  top:55px;
  width:42px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u649 {
  position:absolute;
  left:2px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
.u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u650 {
  position:absolute;
  left:92px;
  top:53px;
  width:58px;
  height:20px;
  color:#FFFFFF;
}
.u651 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
.u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u654 {
  position:absolute;
  left:14px;
  top:8px;
  width:70px;
  height:70px;
}
.u655 {
  position:absolute;
  left:2px;
  top:20px;
  width:66px;
  word-wrap:break-word;
}
.u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
.u656 {
  position:absolute;
  left:94px;
  top:35px;
  width:207px;
  height:27px;
  font-size:11px;
  color:#CCCCCC;
}
.u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
.u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u658 {
  position:absolute;
  left:200px;
  top:55px;
  width:91px;
  height:21px;
  text-align:left;
}
.u659 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
.u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
.u660 {
  position:absolute;
  left:94px;
  top:8px;
  width:205px;
  height:27px;
  font-size:14px;
  text-align:left;
}
.u661 {
  position:absolute;
  left:2px;
  top:4px;
  width:201px;
  word-wrap:break-word;
}
#u640-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
}
#u640-2 {
  position:absolute;
  left:0px;
  top:84px;
  width:375px;
  height:84px;
}
#u640-3 {
  position:absolute;
  left:0px;
  top:168px;
  width:375px;
  height:84px;
}
#u640 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u663 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u664 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u666 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u667 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u669 {
  position:absolute;
  left:15px;
  top:73px;
  width:68px;
  height:68px;
}
#u670 {
  position:absolute;
  left:2px;
  top:19px;
  width:64px;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u672 {
  position:absolute;
  left:0px;
  top:151px;
  width:375px;
  height:417px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
