body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
.u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  font-size:18px;
  color:#FFFFFF;
}
.u825 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
.u826 {
  position:absolute;
  left:301px;
  top:54px;
  width:58px;
  height:20px;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
.u827 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
.u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
}
.u828 {
  position:absolute;
  left:309px;
  top:18px;
  width:39px;
  height:26px;
  color:#CCCCCC;
}
.u829 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
.u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u830 {
  position:absolute;
  left:158px;
  top:55px;
  width:42px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.u831 {
  position:absolute;
  left:2px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
.u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u832 {
  position:absolute;
  left:92px;
  top:53px;
  width:58px;
  height:20px;
  color:#FFFFFF;
}
.u833 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
.u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
.u836 {
  position:absolute;
  left:14px;
  top:8px;
  width:70px;
  height:70px;
}
.u837 {
  position:absolute;
  left:2px;
  top:20px;
  width:66px;
  word-wrap:break-word;
}
.u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
.u838 {
  position:absolute;
  left:94px;
  top:35px;
  width:207px;
  height:27px;
  font-size:11px;
  color:#CCCCCC;
}
.u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
.u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u840 {
  position:absolute;
  left:200px;
  top:55px;
  width:91px;
  height:21px;
  text-align:left;
}
.u841 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
.u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
.u842 {
  position:absolute;
  left:94px;
  top:8px;
  width:205px;
  height:27px;
  font-size:14px;
  text-align:left;
}
.u843 {
  position:absolute;
  left:2px;
  top:4px;
  width:201px;
  word-wrap:break-word;
}
#u822-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
}
#u822-2 {
  position:absolute;
  left:0px;
  top:84px;
  width:375px;
  height:84px;
}
#u822-3 {
  position:absolute;
  left:0px;
  top:168px;
  width:375px;
  height:84px;
}
#u822 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u845 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u846 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u847 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u848 {
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u849 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u851 {
  position:absolute;
  left:15px;
  top:73px;
  width:68px;
  height:68px;
}
#u852 {
  position:absolute;
  left:2px;
  top:19px;
  width:64px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u854 {
  position:absolute;
  left:0px;
  top:151px;
  width:375px;
  height:417px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
